<!DOCTYPE html>
<html lang="en">

<head>
    {{>headers}}
</head>

<body>
{{>navbar}}
    <h1> WElcome to home page</h1>


    <a href="http://localhost:3000/register">Registration</a><br/>
    <a href="http://192.168.29.238:3000/register">Registration for Mobile</a><br/>

    <a href="http://127.0.0.1:3000/register">Registration for Mobile</a>
</body>

</html>